    /* POSITON 

    position: static (padrão) - Nãoo aceita valores de top, botom, tight e left.
    position: fixed - fixa o elemento na tela
    position: relative - posição reçativa a posição inicial dele
    position: absolute - posiçapo absoluta(fixa) a algum elemnento ou pagina
                        -SE não tiver pai / pai for static -> Posiciona refetente a pagina
                        -SE o pai NÃo for static -> posiciona referente ao pai

    propriedades: 
            - top
            - bottom
            - left
            - right
             */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad{
    height: 300px;
    width: 350px;
    background-color: rgb(206, 252, 0);
}
.div-son{
    height: 150px;
    width: 150px;
    background-color: tomato;
}