

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-left: 10%;
    margin-top: 3%;
}
.menu {
    margin: 50px;
    color: gray;
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
}
.login {
    font-size: larger;
    color: white;
    width: 100px;
    background-color: blueviolet;
    border-color: blueviolet;
    border-radius: 20px;
}
img {
    height: 80vh;
    width: 60vh;
    margin-left: 10%;
    display: inline-block;
}
section {
    display: inline-block;
}
h1 {
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}
