@charset "UTF-8";

body{
    background-color: deeppink;
}

h1 {
     color: yellow;
     text-align: center;
}

div{
    background-color: yellow;
    color: blue;
    margin: 15%;
    height: 1.5cm;
}